<li class="nav-item dropdown" id="menu-item-{{ node.pk }}">
    {% load blog_tags %}
    {% query nav_category_list parent_category=node as child_categorys %}
    {% if child_categorys %}
        <a class="nav-link"  href="{{ node.get_absolute_url }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ node.name }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for child in child_categorys %}
                {% with node=child template_name="share_layout/nav_node.html" %}
                    {% include template_name %}
                {% endwith %}
            {% endfor %}
        </ul>
    {% else %}
        <a class="nav-link"  href="{{ node.get_absolute_url }}">
            {{ node.name }}
        </a>
    {% endif %}
</li>


